.MainSearch.focused {
    border-color: var(--light_blue);
    background-color: #fff;
    
}

.ms-wrap {
    display: none;
}

.MainSearch {
    padding: 10px 15px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    background-color: #eee;
    border: 3px solid transparent;
    transition: all .3s ease;

    &__icon {
        font-size: 20px;
        line-height: 20px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 0 10px;
    }

    &__clear {
        opacity: 0;
        pointer-events: none;
        touch-action: none;
    }

    &__clear.active {
        opacity: 1;
        touch-action: auto;
        pointer-events: all;
    }

    &__body {
        width: 100%;
        margin: 0 10px;
        input {
            padding: 5px 10px;
            display: block;
            width: 100%;
            font-size: 20px;
            line-height: 20px;
        }
    }

    
}

@media (max-width: 1000px) {
    .ms-wrap.show {
        transform: translateY(0);
    }

    .ms-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        // height: 100%;
        z-index: 100;
        transform: translateY(-100%);
        padding: 10px;
        transition: all .3s ease;
        display: block;
        // background-color: var(#1a1a1a, .3);
        // backdrop-filter: blur(5px);
    }
    .MainSearch {
        background-color: #fff;
    }
}