* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input,button,select {
    border: none;
    background-color: unset;
    font-family: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: var(--text); 
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: var(--bisq);
}


.panel {
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
}

.main {
    padding-bottom: 64px;
    overflow-x: hidden;
}

.page-title {
    margin-bottom: 30px;
    color: var(--blue);
    font-size: 30px;
    line-height: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
}

:where(.css-dev-only-do-not-override-26rdvq)[class^="ant-col"], :where(.css-dev-only-do-not-override-26rdvq)[class*=" ant-col"] {
    font-family: 'Montserrat Alternates', sans-serif;
}
:where(.css-dev-only-do-not-override-26rdvq).ant-dropdown {
    font-family: 'Montserrat Alternates', sans-serif;
}


