.NotsMenu {
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    width: 350px;
    filter: drop-shadow(0px 0px 10px rgba(#1a1a1a, .5));

    &__list {
        
    }

    &__item {
        
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}