.ProductGallery {
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    &__pag {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;

        // border: 1px solid red;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        &_item {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            display: block;
            margin: 0 5px;
            background-color: #fff;
            filter: drop-shadow(0 0 10px 10px rgba(#1a1a1a, .5));
            transition: all .3s ease;
            cursor: pointer;
            opacity: .5;
        }

        &_item.active {
            opacity: 1;
            transform: scale(1.5);
        }
    }

    &__like.active {
        animation: like-anim 1.5s ease;
    }
    &__like {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        font-size: 200px;
        line-height: 200px;
        // opacity: 0;
        transform: scale(0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        height: 100%;
        color: var(--brown)
        
    }

    @keyframes like-anim {
        0% {
            opacity: 1;
            transform: scale(0);
        }
        50% {
            transform: scale(0.95);
        }
        95% {
            transform: scale(1);
        }
        100% {
            opacity: 0;
        }
    }
    &__slider {
        
    }

    &__slide {
        height: 100%;
        height: 500px;
        
        img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
            object-fit: contain;
            display: flex;
            user-select: none;
        }
    }
}

@media (max-width: 1000px) {
    .ProductGallery {
        border-radius: 20px 20px 0 0;
        padding: 20px 0;
        border-bottom: 2px solid var(--bisq);
    }
}

@media (max-width: 768px) {
    .ProductGallery {

        &__slide {
            height: 300px;
        }
    }
}