.IconButton {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    position: relative;
    border-radius: 100%;

    &__badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        text-align: center;
        font-size: 10px;
        line-height: 10px;
        font-weight: 600;
    }

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: .7;
        transform: scale(0.95);
    }

    &:disabled {
        pointer-events: none;
        touch-action: none;
        opacity: .7;
    }

}

.IconButton.default {
    background-color: var(--blue);
}

.IconButton.brown {
    background-color: var(--brown);
}

.IconButton.gray {
    background-color: #eaeaea;
}

.IconButton.transparent {
    background-color: unset;
}

